.InstructionStep {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    width: 80%;
    min-height: 6rem;
    box-shadow: 2px 2px 10px -5px #000;
    transition: 0.2s ease-in-out;
    margin: 1rem;
}

.InstructionStep:hover {
    box-shadow: 2px 2px 15px -5px #000;
}

.InstructionStep h2 {
    font-family: "Playfair Display SC", serif;
    font-weight: bold;
    font-size: 1.05rem;
    margin: 0 0 0.5rem 0;
}

.BlueLight {
    background: linear-gradient(45deg, #f7f7f7 60%,#e6fbff 100%);
}

@media(min-width: 768px) {
    .InstructionStep {
        width: 20%;
    }
}