.UserStoryInstruction {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.UserStoryInstruction .UserStoryGraphic {
    width: 90vw;
    height: auto;
    margin-bottom: 1rem;
}

@media(min-width: 768px) {
    .UserStoryInstruction {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .UserStoryDescription {
        max-width: 40%;
        padding: 1rem;
    }

    .UserStoryInstruction .UserStoryGraphic {
        width: auto;
        max-height: 40vh;
        margin: 0;
    }
}